.App {
  width: 100vw;
  height: 100vh;
}

#light {
  background-color: #F2F2F2;
  color: #333333;
}

#dark {
  background-color: #333333;
  color: #F2F2F2;
}

#light .navbar {
  background-color: #333333;
}

#dark .navbar {
  background-color: #333333;
}