.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown.show .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.left-side{
  float: left;
}
.right-side{
  float: right;
}
.center-side{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}